<!DOCTYPE html>
<html>
  <head>
    <title>Stimulus Js Mendy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
      Connecté
    <% else %>
      <%= link_to "S'inscrire", new_user_registration_path %>
      <%= link_to "Se connecter", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
